.button {
  border: none;
  outline: none;
  background: map-get($purple, 'base');
  padding: 5px 15px 6px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $open_sans;
  color: map-get($colors, 'white');
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    opacity: .8;
  }
}